<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 ">
      <h1>Add a new cocktail</h1>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-danger btn-sm center-block'%>
      <% end %>
    </div>
  </div>
</div>

