<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <div class="card-show">
        <div class="card-category">Cocktail category</div>
        <div class="card-description">
          <h2>@cocktail.name</h2>
          <p>Cocktail description</p>
        </div>
      </div>
    </div>
  </div>
</div>

