.content-block{
  h2{
    font-size: 20px;
  }
}
.content-inner{
  padding: 20px;
  border: solid 1px;
  border-color: pink;
  margin: 20px;
}


.cocktail-content-wrapper{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.cocktail-single-photo {
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-width: 40%;
    width: 50%;
    width: auto;
    resize: both;
    overflow: auto;
  }
}

.cocktail-specs-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  margin: auto;
  display: block;
  width: 60%;
  padding: 20px;
}


